---
import { cn, containerStyle } from "../lib/utils";
import Helper from "./Helper.astro";
import chouchanching from "@/assets/helpers/chouchanching.jpg";
import rickychen from "@/assets/helpers/rickychen.jpg";
import chenminli642 from "@/assets/helpers/chenminli642.jpg";
import kos8123 from "@/assets/helpers/kos8123.jpg";
import _30619tim from "@/assets/helpers/30619tim.jpg";
import daydreamsyndromes from "@/assets/helpers/daydreamsyndromes.jpg";
import willyboyshy from "@/assets/helpers/willyboyshy.jpg";
import ooii8929 from "@/assets/helpers/ooii8929.jpg";
import dino2895un from "@/assets/helpers/dino2895un.jpg";
import jeng from "@/assets/helpers/jeng.jpg";
import irene119110 from "@/assets/helpers/irene119110.jpg";
import gx91090 from "@/assets/helpers/gx91090.jpg";
import kira070725 from "@/assets/helpers/kira070725.jpeg";
import minimumhsu from "@/assets/helpers/minimumhsu.jpg";
import kked from "@/assets/helpers/kk-ed.jpg";
import luu1122333 from "@/assets/helpers/luu1122333.jpg";
import ccssll120061203 from "@/assets/helpers/ccssll120061203.jpg";
import mandychung2018 from "@/assets/helpers/mandychung2018.jpg";
import allen355200 from "@/assets/helpers/allen355200.jpg";
import fngiShiu from "@/assets/helpers/fngi-shiu.jpg";
import nashNcku from "@/assets/helpers/nash-ncku.jpg";
import inyunch from "@/assets/helpers/inyunch.jpeg";
import wwendy030938 from "@/assets/helpers/wwendy030938.jpg";
import jacky21601 from "@/assets/helpers/jacky21601.jpg";
import box789987 from "@/assets/helpers/box789987.jpg";
import brlin from "@/assets/helpers/brlin.jpeg";
import ckg860116 from "@/assets/helpers/ckg860116.jpg";
import sharonlin2010 from "@/assets/helpers/sharonlin2010.jpg";
import _0819ella from "@/assets/helpers/0819ella.jpg";
import kane from "@/assets/helpers/kane.jpg";
import sonywuu from "@/assets/helpers/sonywuu.jpg";
import amy from "@/assets/helpers/amy.jpg";
import joshua from "@/assets/speakers/joshua.jpg";
import frankyChen from "@/assets/helpers/franky-chen.jpeg";
import wyneTan from "@/assets/speakers/wyne-tan.jpg";
import ericRuan from "@/assets/speakers/eric-ruan.jpg";
import shuAn from "@/assets/speakers/shu-an.jpg";
import rayLin from "@/assets/speakers/ray-lin.jpg";
---

<div
	class={cn(containerStyle, "flex flex-col gap-8 py-12 md:py-16 scroll-mt-16")}
>
	<h2 class="text-center text-2xl font-bold leading-snug md:text-3xl">
		Amazing People
	</h2>
	<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3">
		<Helper name="Amy Lee" image={amy} title="總召" />
		<Helper
			name="Wyne Tan（土撥 Jie）"
			image={wyneTan}
			href="https://www.linkedin.com/in/tan-wei-jie-wyne-5b27b9156/"
			title="議程組, 組長"
		/>
		<Helper
			name="Eric Ruan"
			image={ericRuan}
			href="https://www.facebook.com/profile.php?id=100001429727122"
			title="議程組, 組長"
		/>
		<Helper name="Jill Chen" image={kira070725} title="行銷宣傳組, 組長" />
		<Helper name="Chali lee" title="美宣紀錄組, 組長" />
		<Helper name="Franky Chen" image={frankyChen} title="機動支援組, 組長" />
		<Helper name="Shu-An (Cathy) Yang" image={shuAn} title="議程組, 組員" />
		<Helper
			name="Bob Yeh"
			href="https://www.linkedin.com/in/jun-tin-bob-yeh-33904658"
		/>
		<Helper
			name="Ray Lin"
			image={rayLin}
			href="https://www.linkedin.com/in/raylin-meta-pm/"
			title="議程組, 組員"
		/>
		<Helper name="Joshua Huang" image={joshua} title="議程組, 組員" />
		<Helper name="Brian Chou" image={chouchanching} title="議程組, 組員" />
		<Helper
			name="Kane Wang"
			image={kane}
			href="https://linkedin.com/in/kanedev/"
			title="資訊管理組"
		/>
		<Helper name="Lily" image={chenminli642} title="行銷宣傳組, 組員" />
		<Helper name="RickyChen" image={rickychen} title="行銷宣傳組, 組員" />
		<Helper name="餅乾" image={kos8123} title="機動支援組, 組員" />
		<Helper
			name="Yen-Ting(Tim) Kuo"
			image={_30619tim}
			title="機動支援組, 組員"
		/>
		<Helper
			name="Zhi-Jia (Willy) Yang"
			image={willyboyshy}
			title="機動支援組, 組員"
		/>
		<Helper name="進倫" image={daydreamsyndromes} title="機動支援組, 組員" />
		<Helper name="Willy Hsiao" image={jeng} title="機動支援組, 組員" />
		<Helper name="Dino chou" image={dino2895un} title="美宣紀錄組, 組員" />
		<Helper name="Alvin Lin" image={ooii8929} title="行銷宣傳組, 組員" />
		<Helper name="RuRu Cheng" image={irene119110} title="議程組, 組員" />
		<Helper name="小魚" image={gx91090} title="行銷宣傳組, 組員" />
		<Helper
			name="Jung-Lun (Minimum) Hsu"
			image={minimumhsu}
			title="行銷宣傳組, 組員"
		/>
		<Helper name="Edward Oo" image={kked} title="行銷宣傳組, 組員" />
		<Helper name="小松" image={ccssll120061203} title="機動支援組, 組員" />
		<Helper name="Jimmy" image={luu1122333} title="行銷宣傳組, 組員" />
		<Helper name="Min" image={mandychung2018} title="行銷宣傳組, 組員" />
		<Helper name="Allen Hsieh" image={allen355200} title="行銷宣傳組, 組員" />
		<Helper
			name="Fngi"
			image={fngiShiu}
			href="https://www.linkedin.com/in/fngishiu"
			title="議程組, 組員"
		/>
		<Helper name="Nash Hsu" image={nashNcku} title="機動支援組, 組員" />
		<Helper name="Ingrid" image={inyunch} title="機動支援組, 組員" />
		<Helper name="weiwei" image={wwendy030938} title="議程組, 組員" />
		<Helper name="紹書" image={jacky21601} title="行銷宣傳組, 組員" />
		<Helper name="Ching-Wen (Nola) Chang" image={box789987} />
		<Helper name="Steven or BR" image={brlin} title="美宣紀錄組, 組員" />
		<Helper name="林詠萱" image={ckg860116} title="行銷宣傳組, 組員" />
		<Helper name="Sharon" image={sharonlin2010} title="行銷宣傳組, 組員" />
		<Helper name="Ella Yang" image={_0819ella} title="美宣紀錄組, 組員" />
		<Helper name="Boring UwU" image={sonywuu} title="機動支援組, 組員" />
	</div>
</div>
