---
import { Image } from "astro:assets";

const { name, image, href, title } = Astro.props;
---

<div class="my-2 flex h-14 flex-row justify-center gap-4 md:mx-auto md:w-64">
	{
		image && (
			<Image
				src={image}
				alt={name}
				width="128"
				height="128"
				class="aspect-square h-14 w-14 rounded-lg object-cover"
				loading="lazy"
			/>
		)
	}
	<div class="flex flex-grow flex-col items-start justify-center gap-1">
		{
			href ? (
				<a class="font-medium" target="_blank" href={href}>
					{name}
				</a>
			) : (
				<span class="font-medium">{name}</span>
			)
		}
		{title && <span class="text-sm text-black/75">{title}</span>}
	</div>
</div>
