---
import { BalancerTitle } from "./BalancerTitle";
import { Image } from "astro:assets";
import { cn } from "../lib/utils";

const { title, speaker, avatar = [], fill, description, href } = Astro.props;
---

<div
	class="flex flex-col-reverse items-start gap-2 px-2 py-2.5 text-center sm:flex-row sm:items-center md:gap-4 md:py-4"
>
	<div class="flex flex-shrink-0 gap-2">
		{
			avatar?.map((image) => (
				<Image
					alt={speaker ?? "講者頭像"}
					src={image}
					class={cn(
						"aspect-square w-10 rounded-full object-contain md:w-16",
						fill && "bg-white",
					)}
					width="128"
					loading="lazy"
				/>
			))
		}
	</div>
	<div class="flex flex-col items-start gap-1 text-start">
		{
			title && (
				<BalancerTitle className="text-xs font-medium leading-loose md:text-base">
					{title}
				</BalancerTitle>
			)
		}
		<div>
			{
				href ? (
					<a
						class="mr-2 text-xs text-blue-400 underline sm:text-sm"
						href={href}
						target="_blank"
					>
						{speaker}
					</a>
				) : (
					<span class="mr-2 text-xs text-white/70 sm:text-sm">{speaker}</span>
				)
			}
			{description && <span class="text-xs text-white/60">{description}</span>}
		</div>
	</div>
</div>
